body {
  font-family: "Roboto Mono", sans-serif;
  min-height: 680px;
  background-image: url("https://image.freepik.com/vetores-gratis/pessoas-planas-segurando-moedas-de-euro-e-dolar-e-casa-de-cambio_88138-568.jpg");
  background-color: #ffffff;
  background-size: 110vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 10px;
  height: 90vh;
}

.page-title {
  color: #2d4e9d;
  margin: 0 0 5px;
}

.page-subtitle {
  font-size: 20px;
  color: #88afdd;
  margin-top: 10px;
}

input {
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
}

label {
  color: black;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #fdd167;
}

h2 {
  color: #000000;
  font-size: 20px;
}
